label, input, textarea {
  display: block;
  width: 30rem;
}
textarea {
  height: 8rem;
  resize: none;
}

input:not(:last-child), select:not(:last-child) {
  margin-bottom: 1rem;
}

body {
  padding: 2rem;
}
section {
  padding-top: 20px;
  display: none;
}
